* {
  width: 100%;
  /*max-width: 1500px;*/
  margin: 0;
  padding: 0;
  color: #6a6a6a;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", sans-serif;
}

.deco {
  font-family: 'Caveat Brush', cursive;
  color: #b31667;
}

/*ヘッダー*/
.header {
  margin: 30px auto;
  align-items: center;
  font-weight: bold;
  color: #00277e;
  font-size: 26px;
  display: flex;
}

.header_title {
  width: 10%;
  margin-left: 5%;
}

.company {
  margin-left: 30px;
}

.nav {
  max-width: 40%;
  margin-left: auto;
  margin-right: 20px;
}

.nav_ul {
  font-size: 20px;
  text-align: center;
  display: flex;
}

.nav_ul_li_a {
  text-decoration: none;
  font-size: 1.4vw;
  margin: auto 0px;
}

/*トップ*/
.top {
  display: inline;
}

.top_img_container {
  width: 60%;
  height: 300px;
  margin: 0 0 0 auto;
  position: relative;
}

.top_ttl {
  margin: 0 13%;
  position: absolute;
  top: 200px;
  left: 3%;
}
.blue {
  color: blue;
}

.top_ttl_title {
  font-size: 4.3vw;
  color: #b9176a;
  margin-bottom: 100px;
  font-family: 'Caveat Brush', cursive;
}

.top_ttl_text {
  font-size: 1.9vw;
  color: #b9176a;
  margin-bottom: 20px;
}
.top_ttl_note {
  font-size: 1.4vw;
  margin-bottom: 20px;
}

.blue {
  color: #06a1b3;
}
.top_ttl_title .blue{
  font-family: 'Caveat Brush', cursive;
}

/*ニュース*/

.news {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.news_ttl {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 24px;
}

.news_contents {
  border-top: 1px solid rgba(106, 106, 106, 0.5);
  border-bottom: 1px solid rgba(106, 106, 106, 0.5);
  padding: 20px 5px;
}

.news_contents_dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.news_contents_date {
  width: 20%;
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  margin: 10px 0;
  padding-bottom: 20px;
}

.news_contents_icon {
  width: 20%;
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  margin: 10px 0;
}

.news_deco {
  color: #fff;
  background-color: #b31667;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 3px 0;
  margin: -5px 0;
}

.news_contents_about {
  width: 60%;
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  margin: 10px 0;
}

/*アバウト*/
.about {
  width: 100%;
  height: 500px;
  margin-top: 100px; 
  background-color: #f5f5f5;
}

.about_ttl {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
}

.about_deco {
  padding-top: 50px;
  text-align: center;
}

.about_wrapper {
  width: 80%;
  height: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.about_wrapper_comment_box {
  width: 45%;
  margin: 0 30px;
}

.about_wrapper_comment {
  height: 50%;
  width: 85%;
  font-size: 1.2vw;
  letter-spacing: 0.05em;
  line-height: 2;
  padding: 40px;
}

.about_wrapper_img {
  width: 50%;
  height: 200px;
}

.about_img {
  width: 80%;
  float: right;
  margin-right: 5%;
}

/*サービス*/
.service_ttl_box {
  padding-left: 50px;
}
.service_ttl {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 24px;
}

.service {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.service_wrapper {
  width: 90%;
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
}
.service_img {
  width: 30%;
  margin-top: 30px;
}

.service_wrapper_box1 {
  grid-row: 1/3;
  grid-column: 1/2;
  text-align: center;
  background-color: #b31667;
}
.service_wrapper_box2 {
  background-color: #b35b8b;
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
}

.service_wrapper_box3 {
  background-color: #b2889e;
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
}

.service_wrapper_box_img {
}

.service_img1 {
  width: 30%;
  min-width: 150px;
  margin-top: 30px;
}
.service_wrapper_box_category {
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 20px;
}

.service_wrapper_box_about {
  color: #fff;
  font-size: 1.2vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.service_img2 {
  width: 25%;
  min-width: 120px;
  margin: 5% 10px 0;
}

.service_wrapper_box_category_2 {
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
  top: 30px;
  left: 35%;
}

.service_wrapper_box_about_2 {
  color: #fff;
  font-size: 1.2vw;
  margin: 30px auto;
  width: 60%;
  position: absolute;
  top: 60px;
  left: 35%;
}

.service_img3 {
  width: 25%;
  min-width: 120px;
  margin: 5% 10px 0;
}

.service_wrapper_box_category_3 {
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 20px;
  position: absolute;
  top: 30px;
  left: 35%;
}

.service_wrapper_box_about_3 {
  color: #fff;
  font-size: 1.2vw;
  margin: 30px auto;
  width: 60%;
  position: absolute;
  top: 60px;
  left: 35%;
}

/*ブログ*/
.blog_ttl_box {
  padding-left: 15%;
}

.blog_ttl {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 24px;
}

.blog {
  margin: 20px auto;
  padding: 20px 0;
  width: 100%;
  margin-bottom: 100px;
  background-color: #f5f5f5;
}

.blog_wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.card {
  width: 30%;
  cursor: pointer;
  border: 1px solid #e9eaea;
  border-radius: 25px;
  padding-bottom: 30px;
}

.blog_content_img {
  position: relative;
}

.blog_content_category {
  background-color: #b9176a;
  color: #fff;
  position: absolute;
  border-top-left-radius: 25px;
  width: 70px;
  height: 40px;
  text-align: center;
}
.blog_img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.blog_content_category_text {
  padding-top: 15px;
  font-size: 14px;
  color: #fff;
}

.blog_content_box {
  padding: 15px;
}

.blog_content_ttl {
  font-size: 1vw;
  font-weight: bold;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.blog_content_caption {
  display: inline-flex;
}

.blog_content_date {
  display: inline;
  font-size: 12px;
  float: left;
}

.blog_content_tag {
  display: inline;
  font-size: 12px;
  float: right;
}

.blog_detail_btn {
  position: relative;
  margin: 30px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  border-radius: 100px;
  display: block;
  color: #ef1d88;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ef1d88;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/*会社概要*/
.company {
  margin: 0 auto 150px;
  width: 60%;
}

.company_ttl {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 24px;
}

.company_table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.company_table_th,
.company_table_td {
  border: 1px solid #ccc;
  padding: 20px;
}

.company_table_th {
  width: 30%;
  text-align: left;
  font-weight: bold;
  background-color: #f5f5f5;
}

/*フッター*/
.footer {
  width: 100%;
}

.footer_container {
  display: flex;
  margin-bottom: 100px;
}

.footer_recruit_link {
  display: block;
  background: url(../img/recruit.png) no-repeat center/cover;
  height: 30vh;
}

.footer_mv_recruit {
  position: relative;
  width: 100vw;
}

.footer_interview_link {
  display: block;
  background: url(../img/interview.png) no-repeat center/cover;
  height: 30vh;
}

.footer_mv_interview {
  position: relative;
  width: 100vw;
}

.footer_text {
  position: absolute;
  top: 50%;
  left: 90%; /*?*/
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.footer_caption_text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.footer_line_fix {
  display: block;
  margin: 20px auto;
  width: 3px;
  height: 50px;
  background-color: brown;
}

.footer_caption_link {
  position: relative;
  margin: 10px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 320px;
  border-radius: 100px;
  display: block;
  background: #ef1d88;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 10px 10px #b9176a;
}

.footer_caption_link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background: url(../img/mailicon.svg) no-repeat center/cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}
.footer_caption_link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background-color: #b9176a;
  width: 30px;
  transform: translate(0, -50%);
}

.copyright_box {
  text-align: center;
  margin-top: 100px;
}

.copyright {
  font-size: 14px;
}
