/*ブログ*/
.blog {
  margin: 0 auto;
  width: 80%;
}

.blog_wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 30%;
  cursor: pointer;
  border: 1px solid #e9eaea;
  border-radius: 25px;
  padding-bottom: 30px;
}

.blog_content_img {
  position: relative;
}

.blog_content_category {
  background-color: #b9176a;
  color: #fff;
  position: absolute;
  border-top-left-radius: 25px;
  width: 70px;
  height: 40px;
  text-align: center;
  
}
.blog_img {
  width: 100%;
  height: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.blog_content_category_text{
  padding-top: 15px;
  font-size: 14px;
}

.blog_content_box {
  padding: 15px;
}

.blog_content_ttl {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.blog_content_date {
  display: inline;
  font-size: 12px;
  float: left;
}

.blog_content_tag {
  display: inline;
  font-size: 12px;
  float: right;
}

.blog_detail_btn{
  position: relative;
  margin: 30px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 250px;
  border-radius: 100px;
  display: block;
  color: #ef1d88;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ef1d88;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

