body {
  color: #6a6a6a;
}

/*フッター*/
.footer {
  width: 100%;
}

.footer_container {
  display: flex;
  margin-bottom: 100px;
}

.footer_recruit_link {
  display: block;
}

.footer_mv_recruit {
  position: relative;
  background: url(./img/recruit.png) no-repeat center/cover;
  height: 30vh;
  width: 100vw;
}

.footer_mv_interview {
  position: relative;
  background: url(./img/interview.png) no-repeat center/cover;
  height: 30vh;
  width: 100vw;
}

.footer_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.footer_caption_text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.footer_line_fix {
  display: block;
  margin: 20px auto;
  width: 3px;
  height: 50px;
  background-color: brown;
}


.footer_caption_link {
  position: relative;
  margin: 10px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 320px;
  border-radius: 100px;
  display: block;
  background: #EF1D88;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 10px 10px 	#B9176A;
}

.footer_caption_link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  background: url(./img/mailicon.svg) no-repeat center/cover;
  width: 30px;
  height: 30px;
  transform: translate(0, -50%);
}
.footer_caption_link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background-color: #B9176A;
  width: 30px;
  transform: translate(0, -50%);
}

.copyright_box{
  text-align: center;
  margin-top: 100px;
}

.copyright{
  font-size: 14px;
}