*{
  /*width: 100%;*/
  max-width: 1500px;
  margin: 0;
  padding: 0;
}

/*フッター*/
.footer_container {
  width: 100%;
  margin: 30px 0;
  padding: 0;
  display: flex;
}

.footer_container_recruit img {
  height: 30vh;
}

.footer_container_recruit {
  position: relative;
}
.footer_ttl_recruit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;
}

.footer_container_interview img {
  height: 30vh;
}

.footer_container_interview {
  position: relative;
}
.footer_ttl_interview {
  position: absolute;
  top: 25px;
  left: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;
}


