* {
  width: 100%;
  max-width: 1500px;
  margin: 0;
  padding: 0;
  color: #6a6a6a;
}

/*ニュース*/

.news {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.news_ttl {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 24px;
}

.news_contents{
  border-top: 1px solid rgba(106, 106, 106, 0.5);
  border-bottom: 1px solid rgba(106, 106, 106, 0.5);
  padding: 20px 5px;
}

.news_contents_dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.news_contents_date {
  width: 20%;
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  margin: 10px 0;
  padding-bottom: 20px;
}

.news_contents_icon {
  width: 20%;
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  margin: 10px 0;
}

.news_deco{
  color: #fff;
  background-color: #b31667;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 3px 0;
  margin: -5px 0;
}

.news_contents_about {
  width: 60%;
  border-bottom: 1px solid rgba(106, 106, 106, 0.3);
  margin: 10px 0;
}


